@import '../../App.scss';

.contact {
    height: 100%;
    max-width: 1066px;
    margin: auto;
    display: flex;
    align-items: center;
    gap: 50px;

    @include mobile{
      flex-direction: column;
      width: 100%;
      padding: 5px;
   }
  
    .textContainer {
      flex: 1;
      display: flex;
      flex-direction: column;
      gap: 40px;
      

      @include mobile{
        gap: 15px;
        text-align: center;
        align-items: center;
        margin-top: 70px;
     }
  
      h1 {
        font-size: 100px;
        line-height: 88px;

        @include mobile{
          font-size: 36px;
          line-height: 44px;
       }
      }
  
      span {
        font-weight: 300;
      }
    }
  
    .formContainer {
      flex: 1;
      position: relative;
      // border: 2px solid white;
    

      @include mobile{
        width: 100%;
        padding: 50px;
     }
      .phoneImage{
        // background-color: rebeccapurple;
        position: absolute;
        margin: auto;
        // margin-top: 300px;
        align-items: center;
        // width: 50%;
        // height: 100%;
        // display: flex;
        // flex-direction: column;
        z-index: -1;

        @include mobile{
          position: fixed;
          top: 400px;
          left: 0;
          right: 0;
          bottom: 0;
          width: 300px;
          height: 300px;
          z-index: -1;
          margin: auto;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
  
      form {
        display: flex;
        flex-direction: column;
        gap: 20px;
  
        input,
        textarea {
          padding: 20px;
          background-color: transparent;
          color: white;
          border: 1px solid white;
          border-radius: 5px;

          @include mobile{
            padding: 10px;
         }
        }
  
        button {
          padding: 20px;
          border: none;
          background-color: orange;
          cursor: pointer;
          font-weight: 500;

          @include mobile{
            padding: 10px;
         }
        }
      }
    }
  }
  
